*.swp
/*.retry
/files/bin/bootnode
/files/bin/harmony
/files/bin/harmony-dev
/files/bin/harmony-update.out
/files/bin/latest
/files/bin/libbls384_256.so
/files/bin/libcrypto.so.10
/files/bin/libgmp.so.10
/files/bin/libgmpxx.so.4
/files/bin/libmcl.so
/files/bin/staging
/files/bin/txgen
/files/bin/wallet
/hosts
/credentials
/clouds/local.env
