*.swp
/*.retry
/files/bin/Linux/bootnode
/files/bin/Linux/harmony
/files/bin/Linux/harmony-dev
/files/bin/Linux/harmony-update.out
/flies/bin/Linux/harmony_pubkey.pem
/files/bin/Linux/hmy
/files/bin/Linux/hmy-Linux.sh
/files/bin/Linux/latest
/files/bin/Linux/libbls384_256.so
/files/bin/Linux/libcrypto.so.10
/files/bin/Linux/libgmp.so.10
/files/bin/Linux/libgmpxx.so.4
/files/bin/Linux/libmcl.so
/files/bin/Linux/node-Linux.sh
/files/bin/Linux/staging
/files/bin/Linux/txgen
/files/bin/Linux/tui
/files/bin/Darwin
/credentials
/clouds/local.env
/scripts/bls-tool.yaml
