#/var/log/harmonyd/harmony.log {
#       copytruncate
#       daily
#       rotate 7
#       delaycompress
#       compress
#       notifempty
#       missingok
#}

{{ harmony_home }}/latest/validator-*.log {
       copytruncate
       daily
       rotate 7
       delaycompress
       compress
       notifempty
       missingok
}
