# copy to /etc/systemd/system/
[Unit]
Description=Harmony One
After=network-online.target

[Service]
User={{ harmony_user }}
#ExecStartPre=/bin/mkdir -p /run/harmonyd
#ExecStartPre=/bin/chown -R {{ harmony_user }}:{{ harmony_user }} /run/harmonyd
WorkingDirectory={{ harmony_home }}
PermissionsStartOnly=true
ExecStart=/usr/local/sbin/harmonyd
#ExecStopPost=/bin/rm -f /run/harmonyd/harmonyd.pid
Restart=on-failure
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target

