nodes=(harmony0 harmony1 harmony2 harmony3)
owners=(owner0 owner1 owner2 owner3)
project=my-project
zone=us-central1-a
subnet=us-central1
machine_type=n1-standard-2
image="ubuntu-minimal-1804-bionic-v20190814"
service_account="XXXXXXXXXXXX-compute@developer.gserviceaccount.com"
