nodes=(harmony0 harmony1 harmony2 harmony3)
owners=(owner0 owner1 owner2 owner3)
zones=(us-central1-a us-west1-a us-east1-a us-west-1b)
dns_zone=example.com
project=my-project
machine_type=n1-standard-2
image_family=ubuntu-minimal-2004-lts
service_account="XXXXXXXXXXXX-compute@developer.gserviceaccount.com"
